.single-item img{
    width: 200px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.single-card{
   
    line-height: 18px;
}


.single-item:hover{
    border-radius: 25px;
    background-color: rgba(222, 184, 135, 0.63);
}


