.single-item img{
    /* width: 250px;
    height: 400px; */
    margin-bottom: 5px;
    border-radius: 15px;
    margin: 40px;
}


.single-item:hover{
    transform: scale(1.06);
    transition: 1s ease-in-out; 
}
